.stayProductiveSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px $mobile-padding;
    width: 100%;
    box-sizing: border-box;
}

.stayProductiveSection__image {
    width: 90%;
}

.stayProductiveSection__decriptionContainer {
    width: 95%;
}

.stayProductiveSection__descriptionText {
    font-size: 14px;
}

.stayProductiveSection__linkWithArrow {
    display: inline-flex;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid $color--gradientCyan;
    background-image: linear-gradient($color--gradientCyan, $color--gradientCyan);
    background-repeat: no-repeat;
    background-position: 0 calc(16px + 1rem);
    cursor: pointer;
    transition: all .2s;
    color: $color--gradientCyan;
}

.stayProductiveSection__linkWithArrow:hover {
    color: $color--mainBackground;
    background-position: 0 0;
}


.stayProductiveSection__linkText {
    color: inherit;
    margin-right: 10px;
}

@media (min-width: $dektop-min-width) {
    .stayProductiveSection {
        flex-direction: row;
        padding: 60px;
    }

    .stayProductiveSection__header {
        width: 60%;
        font-size: 34px;
    }
}
