$color--introBackground: hsl(217, 28%, 15%);
$color--mainBackground: hsl(218, 28%, 13%);
$color--footerBackground: hsl(216, 53%, 9%);
$color--testimonialsBackground: hsl(219, 30%, 18%);
$color--gradientCyan: hsl(176, 68%, 64%);
$color--gradientBlue: hsl(198, 60%, 50%);
$color--white: hsl(0, 0%, 100%);

$gradient--standard: linear-gradient(to right, $color--gradientCyan, $color--gradientBlue);

$dektop-min-width: 768px;
$mobile-padding: 20px;
$desktop-padding: 20%;
