body {
  background-image: linear-gradient(#1a4f66, #1c928a);
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #181f2a;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .mainContainer {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.menuBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #1c2431;
  box-sizing: border-box;
}

.menuBar__items {
  display: flex;
  font-size: 12px;
}

.menuBar__item {
  margin-left: 20px;
}

.menuBar__logo {
  width: 80px;
  height: 100%;
}

@media (min-width: 768px) {
  .menuBar__items {
    font-size: 16px;
  }

  .menuBar__item {
    margin-left: 40px;
  }

  .menuBar__logo {
    width: 120px;
  }
}
.button {
  color: white;
  font-weight: 700;
  margin: 20px;
  padding: 15px 75px;
  border: 0px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  z-index: 2;
}

@media (min-width: 768px) {
  .button {
    padding: 25px 100px;
    font-size: 18px;
    border-radius: 35px;
  }
}
.homeSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  background-color: #1c2431;
  box-sizing: border-box;
}

.homeSection::after {
  content: " ";
  position: absolute;
  top: 250px;
  left: 0;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50%;
  z-index: 0;
  box-sizing: border-box;
}

.homeSection::before {
  content: " ";
  position: absolute;
  top: 380px;
  background-color: #181f2a;
  width: 100%;
  height: 50%;
  z-index: 0;
  box-sizing: border-box;
}

.homeSection__bigImage {
  width: 300px;
  max-width: 100%;
  z-index: 1;
}

.homeSection__mainTitle {
  text-align: center;
  line-height: 1.5em;
  z-index: 1;
}

.homeSection__text {
  width: 90%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1em;
  z-index: 1;
}

@media (min-width: 768px) {
  .homeSection {
    padding: 60px 20% 100px 20%;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .homeSection::after, .homeSection::before {
    display: none;
  }

  .homeSection__bigImage {
    width: 80%;
    margin: 30px;
  }

  .homeSection__mainTitle {
    font-size: 40px;
  }

  .homeSection__text {
    width: 75%;
    font-size: 20px;
  }
}
.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

.featuresSection__featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

.featuresSection__featureImage {
  margin: 15px;
}

.featuresSection__featureDescritpion {
  width: 95%;
  font-size: 14px;
}

@media (min-width: 768px) {
  .featuresSection {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featuresSection__featureContainer {
    width: 50%;
  }

  .featuresSection__featureDescritpion {
    width: 60%;
  }
}
.stayProductiveSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

.stayProductiveSection__image {
  width: 90%;
}

.stayProductiveSection__decriptionContainer {
  width: 95%;
}

.stayProductiveSection__descriptionText {
  font-size: 14px;
}

.stayProductiveSection__linkWithArrow {
  display: inline-flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #65e2d9;
  background-image: linear-gradient(#65e2d9, #65e2d9);
  background-repeat: no-repeat;
  background-position: 0 calc(16px + 1rem);
  cursor: pointer;
  transition: all 0.2s;
  color: #65e2d9;
}

.stayProductiveSection__linkWithArrow:hover {
  color: #181f2a;
  background-position: 0 0;
}

.stayProductiveSection__linkText {
  color: inherit;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .stayProductiveSection {
    flex-direction: row;
    padding: 60px;
  }

  .stayProductiveSection__header {
    width: 60%;
    font-size: 34px;
  }
}
.testimonialsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

.testimonialsSection__testimonialContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #202a3c;
  margin: 20px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.5rem;
}

.testimonialsSection__testimonialContainer--quotes::before {
  position: absolute;
  content: " ";
  top: -30px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #65e2d9;
  -webkit-mask: url("../images/bg-quotes.png") 0 0/30px 30px;
}

@supports (-ms-ime-align: auto) {
  .testimonialsSection__testimonialContainer--quotes::before {
    background-color: transparent;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.testimonialsSection__text {
  margin-bottom: 1.5rem;
}

.testimonialsSection__authorContainer {
  display: flex;
  align-items: center;
}

.testimonialsSection__authorPhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.testimonialsSection__authorDescription {
  margin-left: 1rem;
}

.testimonialsSection__authorName {
  font-weight: 700;
}

@media (min-width: 768px) {
  .testimonialsSection {
    flex-direction: row;
    padding: 60px;
  }

  .testimonialsSection__testimonialContainer {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
