body {
  background-image: linear-gradient(#1a4f66, #1c928a);
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
}

* {
  outline: none;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #181f2a;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .mainContainer {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.menuBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #1c2431;
  box-sizing: border-box;
}

.menuBar__items {
  display: flex;
  font-size: 12px;
}

.menuBar__item {
  position: relative;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 5px;
}
.menuBar__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  transform: scaleX(0);
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
.menuBar__item:hover:after {
  transform: scaleX(1);
}

.menuBar__logo {
  width: 80px;
  height: 100%;
}

@media (min-width: 768px) {
  .menuBar__items {
    font-size: 16px;
  }

  .menuBar__item {
    margin-left: 40px;
  }

  .menuBar__logo {
    width: 120px;
  }
}
@keyframes gradientFlow {
  to {
    opacity: 1;
  }
}
.button {
  position: relative;
  color: white;
  font-weight: 700;
  margin: 20px 0px;
  padding: 15px 70px;
  border: 0px;
  border-radius: 60px;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}
.button:before {
  content: " ";
  border-radius: 60px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to right, #47a8d1, #7ae6df);
}
.button:hover {
  transform: scale(1.025);
}
.button:hover:before {
  animation: gradientFlow linear 1s infinite alternate;
}

.button--fullWidth {
  width: 100%;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .button {
    padding: 25px 100px;
    font-size: 18px;
    border-radius: 35px;
  }

  .button--fullWidth {
    padding: 15px 0;
    font-size: 16px;
    height: 3rem;
    flex: 1;
  }
}
.homeSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  background-color: #1c2431;
  box-sizing: border-box;
}

.homeSection::after {
  content: " ";
  position: absolute;
  top: 250px;
  left: 0;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50%;
  z-index: 0;
  box-sizing: border-box;
}

.homeSection::before {
  content: " ";
  position: absolute;
  top: 380px;
  background-color: #181f2a;
  width: 100%;
  height: 50%;
  z-index: 0;
  box-sizing: border-box;
}

.homeSection__bigImage {
  width: 300px;
  max-width: 100%;
  z-index: 1;
}

.homeSection__mainTitle {
  text-align: center;
  line-height: 1.5em;
  z-index: 1;
}

.homeSection__text {
  width: 90%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1em;
  z-index: 1;
}

@media (min-width: 768px) {
  .homeSection {
    padding: 60px 20% 100px 20%;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .homeSection::after, .homeSection::before {
    display: none;
  }

  .homeSection__bigImage {
    width: 80%;
    margin: 30px;
  }

  .homeSection__mainTitle {
    font-size: 40px;
  }

  .homeSection__text {
    width: 75%;
    font-size: 20px;
  }
}
.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

.featuresSection__featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

.featuresSection__featureImage {
  margin: 15px;
}

.featuresSection__featureDescritpion {
  width: 95%;
  font-size: 14px;
}

@media (min-width: 768px) {
  .featuresSection {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featuresSection__featureContainer {
    width: 50%;
  }

  .featuresSection__featureDescritpion {
    width: 60%;
  }
}
.stayProductiveSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
  box-sizing: border-box;
}

.stayProductiveSection__image {
  width: 90%;
}

.stayProductiveSection__decriptionContainer {
  width: 95%;
}

.stayProductiveSection__descriptionText {
  font-size: 14px;
}

.stayProductiveSection__linkWithArrow {
  display: inline-flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #65e2d9;
  background-image: linear-gradient(#65e2d9, #65e2d9);
  background-repeat: no-repeat;
  background-position: 0 calc(16px + 1rem);
  cursor: pointer;
  transition: all 0.2s;
  color: #65e2d9;
}

.stayProductiveSection__linkWithArrow:hover {
  color: #181f2a;
  background-position: 0 0;
}

.stayProductiveSection__linkText {
  color: inherit;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .stayProductiveSection {
    flex-direction: row;
    padding: 60px;
  }

  .stayProductiveSection__header {
    width: 60%;
    font-size: 34px;
  }
}
.testimonialsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  width: 100%;
}

.testimonialsSection__testimonialContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #202a3c;
  border-radius: 5px;
  margin: 20px;
  padding: 25px;
  font-size: 12px;
  line-height: 1.5rem;
}

.testimonialsSection__testimonialContainer--quotes::before {
  position: absolute;
  content: " ";
  top: -30px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #65e2d9;
  -webkit-mask: url("../images/bg-quotes.png") 0 0/30px 30px;
}

@supports (-ms-ime-align: auto) {
  .testimonialsSection__testimonialContainer--quotes::before {
    background-color: transparent;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.testimonialsSection__text {
  margin-bottom: 1.5rem;
}

.testimonialsSection__authorContainer {
  display: flex;
  align-items: center;
}

.testimonialsSection__authorPhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.testimonialsSection__authorDescription {
  margin-left: 1rem;
}

.testimonialsSection__authorName {
  font-weight: 700;
}

@media (min-width: 768px) {
  .testimonialsSection {
    flex-direction: row;
    padding: 60px;
  }

  .testimonialsSection__testimonialContainer {
    font-size: 16px;
  }
}
.earlyAccessSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #181f2a 0%, #181f2a 50%, #0b1523 50%, #0b1523 100%);
}

.earlyAccessSection__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #1c2431;
  width: 90%;
  border-radius: 15px;
  text-align: center;
  z-index: 2;
}

.earlyAccessSection__text {
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.earlyAccessSection__input {
  padding: 20px;
  width: 100%;
  border-radius: 60px;
  border: 0;
}

.earlyAccessSection__input::placeholder {
  color: #999;
}

@media (min-width: 768px) {
  .earlyAccessSection {
    width: 100%;
  }

  .earlyAccessSection__container {
    width: 60%;
  }

  .earlyAccessSection__header {
    font-size: 26px;
  }

  .earlyAccessSection__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .earlyAccessSection__input {
    padding: 15px;
    height: 3rem;
    margin-right: 1rem;
    flex: 2;
  }
}
.footerSection {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #0b1523;
}

.footerSection__infoContainer {
  display: flex;
  flex-direction: column;
}

.footerSection__logo {
  max-height: 100%;
  width: 50%;
  margin: 30px 10px;
}

.footerSection__contactSection {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template: 1fr 1fr/1fr 7fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.footerSection__contactSection--oneRow {
  grid-template-rows: none;
}

.footerSection__contactLink {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}
.footerSection__contactLink::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  transform: scaleX(0);
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
.footerSection__contactLink:hover:after {
  transform: scaleX(1);
}

.footerSection__siteMapSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
}

.footerSection__siteMapLink {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0.3rem;
  padding-top: 0;
  margin-bottom: 0.4rem;
}
.footerSection__siteMapLink::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  transform: scaleX(0);
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
.footerSection__siteMapLink:hover:after {
  transform: scaleX(1);
}

.footerSection__socialMediaSection {
  display: flex;
  justify-content: center;
}

.footerSection__socialMediaIcon {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  z-index: 10;
  cursor: pointer;
}
.footerSection__socialMediaIcon::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  box-sizing: content-box;
  background: #0b1523;
  z-index: -1;
}
.footerSection__socialMediaIcon:hover {
  border: 2px solid transparent;
  color: #65e2d9;
}

@supports (-ms-ime-align: auto) {
  .footerSection__socialMediaIcon {
    border-width: 4px;
  }
  .footerSection__socialMediaIcon:hover {
    border-width: 4px;
  }
}
@media (min-width: 768px) {
  .footerSection {
    padding: 60px;
  }

  .footerSection__logo {
    width: 200px;
  }

  .footerSection__infoContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .footerSection__contactSection {
    flex: 2 1;
    margin: 35px;
  }

  .footerSection__contactSection--oneRow {
    margin-left: 0;
    flex: 2 1;
  }

  .footerSection__siteMapSection {
    flex: 1;
    margin: 35px;
  }

  .footerSection__siteMapLink {
    margin-bottom: 1rem;
  }

  .footerSection__socialMediaSection {
    margin: 35px;
    margin-right: 0;
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
